*{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient( 45deg, rgb(10, 217, 231), rgb(230, 54, 230));
}

button{
  cursor: pointer;
}